/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITY */

:root {
  /*COLORS */
  --BG-COLOR: #fff;
  --AUTH-BG-COLOR: #f0f4f7;
  --BG-HEADER-COLOR: linear-gradient(var(--BG-COLOR), rgba(0, 204, 255, 0.1));
  --HEADER-SHADOW-COLOR: #dee2e6;
  --HEADER-BORDER-COLOR: #dee2e6;
  --TEXT-COLOR: #212529;
  --TEXT-FADE-COLOR: #495057;
  --FEATURES-LINK-COLOR: #1864ab;
  --CARD-SHADOW-COLOR: #1864ab;
  --CARD-NUMBER-COLOR: #00bcef;
  --BTN-SIGNUP-COLOR: #00bcef;

  /* FONTS */
  --FF: Vazirmatn, sans-serif;
  --FS: 1rem;
  --FS-M: 1.5rem;
  --FS-L: 2rem;
  --FS-XL: 4rem;

  /* STANDARD PADDING */
  --PADDING-TB: 0.5em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em);
}

/* GENERAL */

main {
  flex-grow: 1;
  margin: var(--MARGIN);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  direction: rtl;
  display: flex;
  flex-direction: column;
  font-family: var(--FF);
  min-height: 100vh;
  color: var(--TEXT-COLOR);
  font-size: var(--FS);
}

input,
button {
  font: inherit;
  border-radius: 4px;
  width: 100%;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

input {
  text-align: start;
}
button:hover {
  cursor: pointer;
}

a:link,
a:visited,
a:active {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
}

a:hover {
  color: var(--TEXT-FADE-COLOR);
  text-decoration: none;
}

/* HEADER */

.header {
  background-image: url("../images/cloud.svg"), var(--BG-HEADER-COLOR);
  background-position: bottom -20px left 50%;
  background-repeat: no-repeat;
  min-height: 500px;
}

.header__ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.header__h1 {
  font-size: var(--FS-XL);
  font-weight: 700;
  margin-top: var(--MARGIN);
  text-align: center;
}
.header__h2 {
  font-size: var(--FS-M);
  font-weight: 400;
  margin-top: var(--MARGIN);
  text-align: center;
}

.header__nav {
  align-items: center;
  background-color: var(--BG-COLOR);
  border-bottom: 1px solid var(--HEADER-BORDER-COLOR);
  box-shadow: 0 1px 2px 0 var(--HEADER-SHADOW-COLOR);
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

/* FEATURES */

.features {
  display: grid;
  gap: 2rem;
}

.features--grid {
  grid-template-columns: 1fr 1fr;
}

.features__figure {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.features__img {
  width: 80%;
  height: auto;
  min-width: 500px;
}

.features__items {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 50%;
}

.features__item {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  box-shadow: 0 0 8px 0 var(--LIGHT-COLOR);
  border-radius: 8px;
}

.features__header {
  font-size: var(--FS-M);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.features__link:any-link {
  display: block;
  text-decoration: underline;
  color: var(--FEATURES-LINK-COLOR);
}

/* CARDS */

.cards {
  background-image: url("../images/stat.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15em 0;
}

.cards__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

.card {
  background-color: var(--BG-COLOR);
  border-radius: 16px;
  box-shadow: 0 0 16px -3px var(--CARD-SHADOW-COLOR);
  text-align: center;
  width: max(400px, 30%);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.card__number {
  color: var(--CARD-NUMBER-COLOR);
  font-size: var(--FS-XL);
  font-weight: bold;
}

.card__item {
  font-size: var(--FS-M);
  font-weight: bold;
}

/* AUTHENTICATION */

.auth-page {
  background-color: var(--AUTH-BG-COLOR);
}

.auth {
  max-width: 360px;
  width: 100%;
  margin: 5em auto;
  padding: 5em var(--PADDING-SIDE);
  border-radius: 8px;
  box-shadow: 0 0 8px -6px var(--TEXT-FADE-COLOR);
  background-color: var(--BG-COLOR);
}

.auth__form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.auth__btn-signup {
  background-color: var(--BTN-SIGNUP-COLOR);
  color: #fff;
}

/* RESPONSIVE MEDIA QUERY */
@media all and (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    position: relative;
  }
  .header__ul {
    flex-direction: column;
  }
}

@media all and (max-width: 1024px) {
  .features--grid {
    grid-template-columns: 1fr;
  }

  .features__figure {
    justify-content: center;
  }

  .features__img {
    width: 70%;
  }

  .features__items {
    margin-right: 20%;
    width: 50%;
  }
}
