body {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

/** header **/

nav ul {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 1.4rem;
  font-weight: 300;
}
